
/**
* SASS VARIABLES FOR ROTOR-IN
**/
//Colors : 
$red:#e74c3c;
$orange:#e67e22;
$yellow:#f1c40f;
$blue:#3498db;
$darkBlue:#063c60;
$lightBlue:#22b7f2;
//HOME STYLE
$home-logo-color : transparent;
$home-background-color : #FFFFFF;
$home-logo-animation: flip;

//Levels Pages
$levels-background-color :#fafdff;
$levels-item-background:rgba(255,255,255,0.7);

// Group Page
$group-background-cw : #FFFFFF;
$group-color-cw : #619397;

//CrossWords

//Question