/* Mixins */
@mixin font-face($style-name, $file, $weight:300) {
  $filepath: "../fonts/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".woff") format('woff'),
    url($filepath + ".ttf")  format('truetype'),
    url($filepath + ".svg#" + $style-name + "") format('svg');
    font-weight: $weight;
  }
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}