.cw-page{
	height:calc(100% + 1px);
	background: $levels-background-color  url("../assets/images/back2.png") no-repeat;
	background-size:cover !important;
	padding-top:70px;
	.grid-wrapper{
		position: relative;
		top:45%;
		transform:translateY(-50%);
		.grid{
			.col {
				padding:1px;
			}
			.content{
				background-color: white;
			    display: block;
			    text-align: center;
			    &::before{
			    	content: "";
				    padding-bottom: calc(100% - 5px);
				    display: inline-block;
			    }
			    span{
			    	display: inline-block;
				    position: absolute;
				    top: 50%;
				    width: 100%;
				    line-height: 12px;
				    transform: translateY(-50%);
				    left: 0;
				    font-family: 'tex';
				    font-weight: 300;
			    }
			    &.corrected{
			    	background-color: $red;
			    	color: #FFFFFF;
			    	font-size: 17px;
			    	text-transform: uppercase;
			    }
			}
		}
	}
	.goNext{
		position: absolute;
	    bottom: 10px;
	    right: 15px;
	    padding-left: 15px;
	    padding-right: 35px;
	    &.has-icon i {font-size: 22px;left: inherit;right: 10px;}
	}
}