<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

    <ion-nav-title>
        <img src="assets/images/logo-white.png" alt="logo" class="logo">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goToState('language')"><img class="image-icon" ng-src="assets/images/{{vm.language}}.png" alt="English"></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="about-page" delegate-handle="content" scroll="false">
  <h3 class="title">{{'About' | translate}}</h3>
  <p class="content">
    {{'content-about' | translate}}
  </p>
  <div class="contributors">
    <div>{{'Design & programming' | translate}}</div>
    <p>LAZAAR Ilyass</p>
    <div>{{'Contents' | translate}}</div>
    <p>Soufiane Chalouh</p>
  </div>
  <div class="bottom-bloc">
    <div class="company">By LAZY GAMES </div>
    <a ng-click="mainCtrl.open('{{vm.facebookUrl}}','_system')" class="cw-btn cw-blue-btn facebook">Facebook</a>
  </div>
</ion-content>