<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

    <ion-nav-title>
        <img src="assets/images/logo-white.png" alt="logo" class="logo">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="about-page" delegate-handle="content" scroll="false">
  <h3 class="title">About</h3>
  <p class="content">
    Crossboss is free game for all ages that test your knowledge on many fields such as geography and sport.. available on Android and iOS in English and French, So accept this challenge and discover an easy and fun way to learn new words and general knowledge.
    If you have any inquiry or problem with any of our content (including copyrights and mistakes), please contact us
  </p>
  <div class="contributors">
    <div>Design & programming</div>
    <p>LAZAAR Ilyass</p>
    <div>Contents</div>
    <p>Soufiane Chalouh</p>
  </div>
  <div class="bottom-bloc">
    <div class="company">By LAZY GAMES </div>
    <a ng-click="mainCtrl.open('{{facebookUrl}}','_system')" class="cw-btn cw-blue-btn facebook">Facebook</a>
  </div>
</ion-content>