
<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

      <ion-nav-buttons side="right">
        <button  class="cw-hints" ng-click="vm.openHints();mainCtrl.clickSound()">{{vm.hints}} <i class="coins-icon"></i></button>
      </ion-nav-buttons>

    <ion-nav-title>
             <span class="cw-stars-state">
                <i class="ion-ios-star" ng-repeat="n in [].constructor(3) track by $index" ng-class="{'disable': $index >= vm.stars, 'animatStars':vm.animateStars}"></i>
              </span>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="cw-page" scroll="false">
	<div class="grid-wrapper">
		<div class="grid"  on-swipe="vm.goToQuestion()" >
			<div class="row" ng-repeat="row in vm.grid track by $index" >
		        <div class="col" ng-repeat="col in row track by $index"
		        	on-drag-right="vm.goToQuestion($parent.$index, $index,'h')"
		        	on-drag-left="vm.goToQuestion($parent.$index, $index,'h')"
		        	on-drag-up="vm.goToQuestion($parent.$index, $index,'v')"
		        	on-drag-down="vm.goToQuestion($parent.$index, $index,'v')"
		        	ng-click="vm.goToQuestion($parent.$index, $index, col.v != undefined ? 'v': 'h')">
		        	<div class="content" ng-if="col.content" ng-class="col.type">
		        		<span ng-bind-html="col.content"></span>
		        	</div>
		        </div>
		    </div>
		</div>
	</div>
	<a href="" ng-click="vm.goNext(); mainCtrl.clickSound()" class="cw-btn cw-blue-btn has-icon goNext" ng-if="vm.next != -1"><i class="ion-arrow-right-a"></i>Next {{vm.next == 1 ? "Level":""}}{{vm.next == 2 ? "Crosswords":""}}</a>
</ion-content>