<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

      <ion-nav-buttons side="right">
        <button  class="cw-stars" >{{vm.numberStars}} <i class="ion-ios-star"></i></button>
      </ion-nav-buttons>

    <ion-nav-title>
        Level {{vm.level +1}}
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="group-page" scroll="false">
  <div class="progressiveBar" ng-style="{'left': '-'+vm.left+'%'}">
    <div>{{vm.level+1 == vm.currentLevel ? vm.currentCw: vm.crosswords.length}}/{{vm.crosswords.length || 0}}</div>

  </div>
  
  <ion-slide-box show-pager="false" active-slide="vm.activeSlide">

    <ion-slide ng-repeat="cw in vm.crosswords track by $index"
          ng-click="!vm.isDisabled($index) && vm.goToCrossWords($index)" class="cw-red"
          ng-class="{'disable':vm.isDisabled($index)}">
          <div class="top-content">
              <span class="cw-number">{{$index + 1}}</span>
              <span class="state levels">{{cw.numberCorrectionByCw}}/{{cw.questions.length || 0}}</span>
              <span class="state" ng-if="vm.isDisabled($index)"><i class="ion-android-lock"></i></span>
          </div>

          <div class="bottom-content">
             <span class="cw-stars-state">
                <i class="ion-ios-star" ng-repeat="n in [].constructor(3) track by $index" ng-class="{'disable': $index >= cw.stars}"></i>
              </span>
          </div>
    </ion-slide>

  </ion-slide-box>

  <a href="" ng-click="vm.showPopupHints(); mainCtrl.clickSound()" class="cw-btn cw-blue-btn has-icon add-hints"><i class="coins-icon"></i> Add Coins</a>

</ion-content>