<ion-content class="home-page" scroll="false">
	<div class="logo">
		<img src="assets/images/logo.png" alt="logo" ng-show="vm.showLogo">
	</div>
	<div class="main-menu clearfix">
		<div class="btn-wrapper">
			<a href="" ng-click="mainCtrl.goToState('levels')" class="cw-btn cw-red-btn has-icon"><i class="ion-play"></i>Play</a>
			<a href="" ng-click="vm.share(); mainCtrl.clickSound()" class="cw-btn cw-orange-btn has-icon"><i class="ion-android-share-alt"></i>Share</a>
			<a href="" ng-click="vm.rateApp(); mainCtrl.clickSound()" class="cw-btn cw-yellow-btn has-icon"><i class="ion-ios-star"></i>Rate</a>
		</div>
	</div>
	<div class="bottom-btns">
		<a href="" ng-click="mainCtrl.goToState('about')" class="cw-btn cw-blue-btn"><i class="ion-help"></i></a>
		<a href="" ng-click="vm.toggleSounds(); mainCtrl.clickSound()" class="cw-btn cw-blue-btn">
			<i ng-class="vm.isSound ? 'ion-volume-high' : 'ion-android-volume-off'"></i>
		</a>
<!-- 		<a href="" ng-click="vm.toggleMusique(); mainCtrl.clickSound()" class="cw-btn cw-blue-btn"><i class="ion-music-note" ng-class="{'disable':!vm.isMusique}"></i></a> -->
	</div>
</ion-content>