<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

      <ion-nav-buttons side="right">
        <button  class="cw-stars" >{{vm.numberStars}} <i class="ion-ios-star"></i></button>
      </ion-nav-buttons>

    <ion-nav-title>
        <img src="assets/images/logo-white.png" alt="logo" class="logo">
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="levels-page" delegate-handle="content">
	<ul class="levels">
		<li ng-repeat="level in vm.levels track by $index"
        ng-click="$index < vm.currentLevel && mainCtrl.goToState('group', {level:$index})"
        ng-class="{'disable': $index >= vm.currentLevel }"
        id="level-{{$index}}">
      <div class="top-content row">
          <span align="left" class="col col-10"> <i class="{{$index >= vm.currentLevel ? 'ion-android-lock' : 'ion-play'}}"></i>  </span>
         <span align="center" class="col col-90"> Level {{$index+1}}</span>
      </div>

      <div class="bottom-content row">
         <span align="left" class="state col col-50">{{($index + 1) == vm.currentLevel ? (vm.currentCw - 1): level.crosswords.length}}/{{level.crosswords.length || 0}}</span>
         <span align="right" class="col col-50 cw-stars">{{level.stars}} <i class="ion-ios-star"></i></span>
      </div>
			
			
		</li>
	</ul>

</ion-content>